{% extends 'base.html' %} {% block content %}
<section class="page-section">
  <h2>Neden <span>Japonya?</span></h2>
  <div class="glass-panel">
    <p>
      Japonya, sadece anime ve tapınaklardan ibaret değil. Geleneksel iş
      ahlakını siberpunk bir gelecekle harmanlayan yegane yerdir.
    </p>
    <p>
      Özellikle Tokyo ve Osaka, son yıllarda yabancı yazılımcılar için
      kapılarını ardına kadar açtı. Start-up vizeleri, yüksek yaşam standartları
      ve muazzam ulaşım ağlarıyla yazılımcılar için global bir teknoloji üssü
      haline gelmiştir.
    </p>
  </div>
</section>
{% endblock %}
